
/*Body*/
body{
	background-color: black;
}

/* Navigation bar */
nav{
	background-color: black;
	font-family: 'Shadows Into Light', 'Pacifico';
	position: relative;
	overflow: hidden;
}

nav img{
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-filter: blur(3px);
	opacity: 0.5;
	position: absolute;
	width: 100%;
	height: 100%
}

nav ul{
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	flex:1;
	width: auto;
	text-align: center;
	font-size: 3em;
	border:0.7px solid white;
	z-index:99999;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
}

nav ul li a:hover{
	color: #E8B140 !important;
	transition: all .2s ease;
}
.container{
	position: relative;
}
/*Content tour.html*/
.container-tour{
	position: relative;
}
.desc_gigs-tour{
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-top: 5px;
	font-family: 'Indie Flower', 'cursive';
}
.desc_gigs-tour h1{
	font-size: 2.5em;
	color: #FFD15D;
	text-align: center;
}
.desc_gigs-tour p{
	font-size: 1em;
	color: #E87023;
	margin-top: 15px;
}
/*Gigs link style tour.html*/
#tour-events{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: 10%;
}
#tour-events a{
	flex:1;
	width: auto;
	text-align: center;
	text-decoration: none;
	color: #FFD15D;
	font-size: 2em;
	font-family: 'Indie Flower', 'cursive';
	padding: 2px;
}
#tour-events a:hover{
	color: #fff;
	transition: all .2s ease;
}
#tour-events p{
	position: relative;
	font-family: 'Indie Flower', 'cursive';
	color: #E87023;
	font-size: 1em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}
/*properties of log-in.html*/
.container-log-in-page{
	width: 80%;
	margin-left: 10%;
}
.content-log-in h1{
	width: auto;
	font-family: 'La Belle Aurore', cursive;
	color: #FFF9F3;
	font-size: 2.6em;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 25px;
	padding: 1px;
}
.log-in-input-boxes{
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 10px;
}
.log-in-input-boxes legend{
	font-family: 'La Belle Aurore', cursive;
	font-size: 1.3em;
	border-radius: 8px;
	border: 2px solid #fff;
	padding: 4px 15px;
	color: #fff;
	background-color: black;
}
.log-in-input-boxes label{
	font-family: 'La Belle Aurore', cursive;
	color: #fff;
	font-size: 1.5em;
}
.log-in-input-boxes input{
	border-radius: 5px;
	padding: 6px 8px;
	float: left;
	width: 95%;
}
#submit-log-in{
	font-family: 'La Belle Aurore', cursive;
	font-size: 2em;
	border-radius: 5px;
	padding: 6px 8px;
	margin-top: 5px;
	margin-bottom: 15px;
	width: 91%;
	color: #fff;
	height: 50px;
	background-color: #E87114;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	margin-left: 10px;
}
#submit-log-in:hover{
	background-color: #FF5B16;
	cursor: pointer;
}
#submit-log-in2{
	font-family: 'La Belle Aurore', cursive;
	font-size: 2em;
	border-radius: 5px;
	padding: 9px 8px;
	margin-top: 5px;
	margin-bottom: 15px;
	width: 91%;
	color: #fff;
	height: 50px;
	background-color: #1CA42D;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	margin-left: 10px;
}
#submit-log-in2:hover{
	background-color: #00E820;
	cursor: pointer;
}
/*properties of chat-room.html*/
.content-chat-room h1,p{
	width: auto;
	font-family: 'Tangerine', cursive;
	color: #FFF9F3;
	font-size: 2.6em;
	text-align: center;
	margin-top: 10px;
	padding: 1px;
}
.content-chat-room p{
	font-family: 'Tangerine', cursive;
	color: #FFF9F3;
	font-size: 1.8em;
}
#chat-room-text{
	font-family: 'Tangerine', cursive;
	color: #FFF9F3;
	margin-top: 25px;
	font-size: 1.8em;
}
#chat-room-comments{
	font-family: 'Tangerine', cursive;
	color: #FFF9F3;
	font-size: 1.8em;
}
#chat-room-date{
	font-family: 'Tangerine', cursive;
	color: #FFF9F3;
	text-align: left;
	font-size: 1.8em;
}
#chat-room-name{
	font-family: 'Tangerine', cursive;
	text-align: left;
	color: #FFF9F3;
	font-size: 1.8em;
}
/*Form properties of chat-room.html*/
.chat-room-container{
	margin-top: 5px;
	width: 80%;
	margin-left: 10%;
	font-family: 'Tangerine', cursive;
	color: #fff;
}
.chat-room-input-boxes{
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 10px;
}
#paragraph-boxes{
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 10px;
}
.chat-room-input-boxes legend{
	font-size: 1.3em;
	border-radius: 8px;
	border: 2px solid #fff;
	padding: 4px 15px;
	color: #fff;
	background-color: black;
}
.chat-room-input-boxes label{
	font-size: 1.5em;
}
.chat-room-input-boxes input{
	border-radius: 5px;
	padding: 6px 8px;
	float: left;
	width: 95%;
}
.chat-room-input-boxes textarea{
	border-radius: 5px;
	padding: 6px 8px;
	float: left;
	width: 95%;
}
#submit-chat-room{
	font-size: 2em;
	border-radius: 5px;
	padding: 6px 8px;
	margin-top: 5px;
	margin-bottom: 15px;
	width: 91%;
	color: #fff;
	height: 50px;
	background-color: #6165E8;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	margin-left: 10px;
}
#submit-chat-room:hover{
	background-color: #6B96FF;
	cursor: pointer;
}

/*properties of bio.html*/
.content-bio h1,p{
	width: auto;
	font-family: 'Kristi', cursive;
	color: #FFF9F3;
	font-size: 3em;
	text-align: center;
	margin-top: 10px;
	padding: 1px;
}
.bio-monkees p{
	font-family: 'Kristi', cursive;
	color: #FFF9F3;
	font-size: 1.5em;
}

/*properties of news.html*/
.content-news h1{
	width: auto;
	font-family: 'Sacramento', cursive;
	color: #FFF9F3;
	font-size: 3em;
	text-align: center;
	margin-top: 29px;
	padding: 1px;
}
.all-news-container{
	font-family: 'Sacramento', cursive;
	text-align: center;
	margin-top: 5px;
	width: 80%;
	margin-top: 25px;
	margin-left: 10%;
}
.articles{
	margin-bottom: 20px;
}
.articles a{
	color: #FF521A;
	margin: 10px;
	font-size: 1.5em;
	text-decoration: none;
}
.articles p{
	font-size: 1.1em;
}
.article-date{
	font-size: 0.9em;
}
/*properties of photos.html*/
.content-photos h1,p{
	width: auto;
	font-family: 'Cookie', cursive;
	color: #FFF9F3;
	font-size: 2em;
	text-align: center;
	margin-top: 10px;
	padding: 1px;
}
.content-photos p{
	font-family: 'Cookie', cursive;
	color: #FFF9F3;
	font-size: 1.5em;
}
.all-photos{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 80%;
	margin-left: 10%
}
.photos-boxes{
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 5px;
	margin: 3px;
}
#photos-text{
	font-family: 'Cookie', cursive;
	font-size: 1.8em;
	margin-top: 10px;
	margin-bottom: 15px;
}

/*Properties of videos.html*/

.content-videos h1,p{
	width: auto;
	font-family: 'Yellowtail', cursive;
	color: #FFF9F3;
	font-size: 2em;
	text-align: center;
	margin-top: 10px;
	padding: 1px;
}
.content-videos p{
	font-family: 'Yellowtail', cursive;
	font-size: 1.5em;
}
.videos-boxes iframe{
	margin-top: 10px;
	width: 70%;
	height: 220px;
	margin-left: 15%;
}
.all-videos p{
	font-family: 'Yellowtail', cursive;
	font-size: 1.5em;
}
.videos-boxes p{
	font-family: 'Yellowtail', cursive;
	font-size: 1.5em;
}
/*Content style of music.html*/
.music-event{
	margin-top: 25px;
	width: 80%;
	margin-left: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.music-event h1{
	font-family: 'Great Vibes', cursive;
	color: #FF6200;
	font-size: 2.3em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
}
.box-music p{
	font-size: 1.9em;
	font-family: 'Great Vibes', cursive;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Content style of book-event.html*/
.box-book-event{
	margin-top: 25px;
	width: 80%;
	margin-left: 10%;
}
.box-book-event h1,p{
	width: auto;
	font-family: 'Dancing Script', cursive;
	color: #FFF9F3;
	font-size: 2em;
	text-align: center;
	margin-top: 10px;
}
.box-book-event p{
	font-size: 1.5em;
}
/*book-event form properties*/
.book-event-boxes{
	margin-top: 25px;
	width: 80%;
	margin-left: 10%;
	font-family: 'Dancing Script', cursive;
	color: #fff;
}
.book-event-boxes h3{
	text-align: center;
	font-size: 1.5em;
}
.book-event-boxes form p{
	font-size: 1.5em;
}
.book-event-input-boxes{
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 10px;
}
.book-event-input-boxes legend{
	border-radius: 8px;
	border: 2px solid #fff;
	padding: 4px 15px;
	color: #fff;
	background-color: black;
}
#submit-book-event{
	font-size: 2em;
	border-radius: 5px;
	padding: 6px 8px;
	margin-top: 5px;
	width: 91%;
	color: #fff;
	height: 50px;
	background-color: #f44336;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	margin-left: 10px;
}
#submit-book-event:hover{
	background-color: #FF9C59;
	cursor: pointer;
}

label.field{
	display: block;
	text-align: center;
	width: 100%;
	float: left;
	clear: both;
	margin: 5px;
}
.book-event-input-boxes input{
	border-radius: 5px;
	padding: 6px 8px;
	float: left;
	width: 95%;
}
.book-event-input-boxes textarea{
	border-radius: 5px;
	padding: 6px 8px;
	float: left;
	width: 95%;
}
/*Footer index.html*/
footer{
	//bottom: 0;
	height: 100px;
	width: 100%;
	position: relative;
	margin-top: 50px;
}
/*Social Media Links & Fonts*/
.fa {
    width: 30px;
    text-align: center;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-skype {
  background: #00aff0;
  color: white;
}
.social-media ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.social-media ul li{
	list-style-type: none;
}
.social-media ul li a{
	text-decoration: none;
	padding: 10px;
}
.social-media h2{
	font-family: 'Shadows Into Light', 'Pacifico';
	color: #FF9C59;
	text-align: center;
	font-size: 3em;
}
/*Change footer color for tour.html*/
#social-media-tour{
	color: #E87023;
}

/*APPLYING CSS CODE FOR SCREEN WHERE WIDTH IS OVER 750Px*/
@media screen and (min-width: 750px) {
	.log-in{
		background-color: #A8B3CB;
	}
	.bio{
		background-color: #000;
	}
	.chat-room{
		background-color: #1B261F;
	}
	.photos{
		background-color: #F4D4FF;
	}
	.videos{
		background-color: #232621;
	}
	.music{
		background-color: #1F2527;
	}
	.body-book-event{
		background-color: #696972;
	}
	body{
		background-color: #E88547;
	}

	/*Applying backgroung image to index.html*/
	.container{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.content{
		height: 100%;
		width: 100%;
		background: url("../images/bodyImage.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	/*Change background for tour.html*/
	.container-tour{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url("../images/Tour-BG.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.content-tour{
		position: absolute;
		width: 80%;
		margin-left: 10%;
		margin-top: 200px;
	}
	.desc_gigs-tour{
		height: auto;
		width: auto;
	}
	.desc_gigs-tour p {
		font-size: 1.2em;
	}
	/*All properties about bio.html*/
	.container-bio{
		position: absolute;
		left: 0;
		top: 0;
		background: url("../images/bio.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 65%;
		width: 100%;
	}
	.content-bio{
		position: absolute;
		width: 100%;
		margin-top: 300px;
	}
	.content-bio h1,p{
		color: #FFCA03;
	}
	.bio-monkees{
		margin-top: 650px;
		width: 80%;
		margin-left: 10%;
	}
	.bio-monkees p{
		color: #FFCA03;
		font-size: 1.9em;
	}

	/*All properties about videos.html*/
	.container-videos{
		position: absolute;
		left: 0;
		top: 0;
		background: url("../images/videos.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 65%;
		width: 100%;
	}
	.content-videos{
		position: absolute;
		width: 100%;
		margin-top: 300px;
	}
	.content-videos h1,p{
		color: #41FF46;
	}

	.all-videos{
		position: absolute;
		width: 100%;
		margin-top: 620px;
	}
	.all-videos h1{
		color: #FF3505;
	}
	.all-videos p{
		font-size: 2em;
		color: #A9E816;
	}
	.videos-boxes iframe{
		width: 65%;
		height: 400px;
		margin-left: 18%;
	}
	.videos-boxes p{
		font-size: 1.6em;
		color: #A9E816;
		margin: 15px;
	}
	/*Properties of photos.html*/
	.container-photos{
		position: absolute;
		left: 0;
		top: 0;
		background: url("../images/photos.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 65%;
		width: 100%;
	}
	.content-photos{
		position: absolute;
		width: 100%;
		margin-top: 300px;
	}
	.content-photos h1{
		color: #F36AED;
		font-size: 2.2em;
	}
	.content-photos p{
		color: #F36AED;
		font-size: 1.7em;
	}
	.all-photos{
		position: absolute;
	}
	.photos-boxes{
		border: 1px solid #000;
		border-radius: 4px;
		padding: 8px;
		margin: 8px;
	}
	#photos-text{
		margin-top: 650px;
		color: #59584C;
	}
	
	/*properties for news.html*/
	.container-news{
		position: absolute;
		left: 0;
		top: 0;
		background: url("../images/news.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 65%;
		width: 100%;
	}
	.content-news{
		position: absolute;
		width: 80%;
		margin-left: 10%;
		margin-top: 300px;
	}
	.content-news h1{
		color: #DEF502;
		font-size: 3.2em;
	}
	.all-news-container {
	    margin-top: 650px;
	}
	.articles a{
		display: inline-block;
		text-align: left;
		float: left;
	}
	.article-date{
		font-size: 0.9em !important;
		float: right;
		margin-bottom: 5px;
	}
	.articles p{
		color: #DEF502;
		display: inline-block;
		margin-top: 10px;
		text-align: center;
		font-size: 1.3em;
	}
	/*Properties for log-in.html*/
	.container-log-in-page{
		display: flex;
		flex-flow: row nowrap;
		position: absolute;
		margin-left: 0;
		left: 0;
		top: 0;
		background: url("../images/log-in.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 100%;
		width: 100%;
	}
	.log-in-container{
		width: 35%;
		height: 500px;
		margin-left: 10%;
		margin-top: 200px;
	}
	.content-log-in{
		
	}
	.content-log-in h1{
		text-align: center;
		color: #5422DB;
	}
	.log-in-input-boxes legend{
		color: #073593;
	}
	.log-in-input-boxes label{
		color: #5422DB;
	}
	#submit-log-in{
		color: #5422DB;
	}
	#submit-log-in:hover{
		color: #fff;
	}
	#submit-log-in2{
		color: #5422DB;
	}
	#submit-log-in2:hover{
		color: #fff;
	}
	/*Properties for chat-room.html*/
	.container-chat-room{
		position: absolute;
		left: 0;
		top: 0;
		background: url("../images/chat-room.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 65%;
		width: 100%;
	}
	.content-chat-room{
		position: absolute;
		width: 80%;
		margin-left: 10%;
		margin-top: 300px;
	}
	.content-chat-room h1{
		color: #FF0D36;
		font-size: 3.2em;
	}
	.content-chat-room p{
		color: #FF0D36;
		font-size: 2.2em;
	}
	#chat-room-text{
		margin-top: 690px;
		color: #FF0D36;
		font-size: 2.2em;
	}
	.chat-room-input-boxes legend{
	    font-size: 1.7em;
	    color: #FF0D36;
	    background-color: #1B261F;
	}
	.chat-room-input-boxes label{
	    font-size: 1.7em;
	    color: #FF0D36;
	}
	#submit-chat-room{
		color: #fff;
		width: 93%;
	}
	#submit-chat-room:hover{
		color: #FF0D36;
	}
	#chat-room-comments{
		color: #FF0D36;
	}
	/*All properties about music.html*/
	.music-event{
		flex-flow: row wrap;
	}
	.music-event h1{
		width: 100%;
	}
	.box-music{
		margin-right: 30px;
	}
	.box-music p{
		text-align: left;
		color: #FF6200;
	}

	.container-music{
		position: absolute;
		left: 0;
		top: 0;
		background: url("../images/music.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 63%;
		width: 100%;
	}
	.content-music{
		position: absolute;
		width: 100%;
		margin-top: 600px;
	}
	/*Properties about book-event.html*/
	.container-book-event{
		position: absolute;
		left: 0;
		top: 0;
		background: url("../images/book-event.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 63%;
		width: 100%;
	}
	.content-book-event{
		position: absolute;
		width: 100%;
		margin-top: 600px;
	}
	/*Boxes and box style protiese for form and text*/
	.boxes{
		position: absolute;
		width: 80%;
		margin-left: 10%;
		margin-top: 200px;
	}
	/*Text color for content p,h1 properties*/
	.box-book-event h1{
		color: #0090E8;
	}
	.box-book-event p{
		color: #00DAFF;
		font-size: 1.3em;
	}

	/*book-event form properties*/
	.book-event-boxes{
		position: relative;
		margin-top: 1050px;
		width: 80%;
		margin-left: 10%;
	}
	.book-event-input-boxes legend{
		background-color: #696972;
	}
	#submit-book-event{
		width: 93%;
		margin-top: 8px;
	}
	/*Navigation bar properties*/
	nav ul{
    	flex-direction: row;
		align-items: center;
		justify-content: center;
    }
    nav ul li{
		border:0;
		margin: 50px auto;
    }
    
	nav ul li a{
		font-size: 0.5em;

	}
	/*Text color for navigation bar in bio.html*/
	#log-in-nav-col{
		color: #073593;
	}
	/*Text color for navigation bar in bio.html*/
	#bio-nav-col{
		color: #FFCA03;
	}
	/*Text color for navigation bar in news.html*/
	#news-nav-col{
		color: #DEF502;
	}
	/*Text color for navigation bar in videos.html*/
	#chat-room-nav-col{
		color: #ED2E2E;
	}
	#photos-nav-col{
		color: #FFF226;
	}
	/*Text color for navigation bar in videos.html*/
	#videos-nav-col{
		color: #05FF08;
	}
	/*Text color for navigation bar in music.html*/
	#music-nav-col{
		color: #FF6200;
	}
	/*Text color for navigation bar in book-event.html*/
	#book-event-nav-col{
		color: #5C19FF;
	}

	/*Footer*/
	#foot-log-in-title{
		color: #5422DB;
	}
	#foot-log-in{
		position: absolute;
		height: 150px;
		width: 100%;
		margin-top: 580px;
	}
	#foot-chat-room{
		position: absolute;
		height: 150px;
		width: 100%;
	}
	#foot-photos{
		position: absolute;
		height: 150px;
		width: 100%;
		margin-top: 1120px;
	}
	#foot-videos{
		position: absolute;
		height: 150px;
		width: 100%;
		margin-top: 3550px;
	}
	#foot-music{
		height: 150px;
		width: 100%;
		margin-top: 1200px;
	}
	#foot-book-event{
		height: 150px;
		width: 100%;
	}
	#foot-tour{
		height: 150px;
		width: 100%;
		margin-top: 850px;
	}
	#foot-index{
		height: 150px;
		width: 100%;
		position: absolute;
		bottom: 0;
		margin-top: 50px;
	}
}