
/*Body*/
body{
	background-color: black;
}

/* Navigation bar */
nav{
	background-color: black;
	font-family: 'Shadows Into Light', 'Pacifico';
	position: relative;
	overflow: hidden;
}

nav img{
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-filter: blur(3px);
	opacity: 0.5;
	position: absolute;
	width: 100%;
	height: 100%
}

nav ul{
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	flex:1;
	width: auto;
	text-align: center;
	font-size: 3em;
	border:0.7px solid white;
	z-index:99999;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
}

nav ul li a:hover{
	color: #E8B140;
	transition: all .2s ease;
}
.container{
	position: relative;
}
/*Content tour.html*/
.container-tour{
	position: relative;
}
.desc_gigs-tour{
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-top: 5px;
	font-family: 'Indie Flower', 'cursive';
}
.desc_gigs-tour h1{
	font-size: 2.5em;
	color: #FFD15D;
}
.desc_gigs-tour p{
	font-size: 1em;
	color: #E87023;
	margin-top: 15px;
}
/*Gigs link style tour.html*/
#tour-events{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: 10%;
}
#tour-events a{
	flex:1;
	width: auto;
	text-align: center;
	text-decoration: none;
	color: #FFD15D;
	font-size: 2em;
	font-family: 'Indie Flower', 'cursive';
	padding: 2px;
}
#tour-events a:hover{
	color: #fff;
	transition: all .2s ease;
}
#tour-events p{
	position: relative;
	font-family: 'Indie Flower', 'cursive';
	color: #E87023;
	font-size: 1em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}

/*Footer index.html*/
footer{
	//bottom: 0;
	height: 100px;
	width: 100%;
	position: relative;
	margin-top: 50px;
}
/*Social Media Links & Fonts*/
.fa {
    width: 30px;
    text-align: center;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-skype {
  background: #00aff0;
  color: white;
}
.social-media ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.social-media ul li{
	list-style-type: none;
}
.social-media ul li a{
	text-decoration: none;
	padding: 10px;
}
.social-media h2{
	font-family: 'Shadows Into Light', 'Pacifico';
	color: #FF9C59;
	text-align: center;
	font-size: 3em;
}
/*Change footer color for tour.html*/
#social-media-tour{
	color: #E87023;
}

/*APPLYING CSS CODE FOR SCREEN WHERE WIDTH IS OVER 750Px*/
@media screen and (min-width: 750px) {
	body{
		background-color: #E88547;
	}
	/*Applying backgroung image to index.html*/
	.container{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.content{
		height: 100%;
		width: 100%;
		background: url("../images/bodyImage.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	/*Change background for tour.html*/
	.container-tour{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url("../images/Tour-BG.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.content-tour{
		position: absolute;
		width: 80%;
		margin-left: 10%;
		margin-top: 200px;
	}
	.desc_gigs-tour{
		height: auto;
		width: auto;
	}

	/*Navigation bar properties*/
	nav ul{
    	flex-direction: row;
		align-items: center;
		justify-content: center;
    }
    nav ul li{
		border:0;
		margin: 50px auto;
    }
    
	nav ul li a{
		font-size: 0.5em;
	}
	/*Footer*/
	#foot-tour{
		height: 150px;
		width: 100%;
		position: relative;
		margin-top: 830px;
	}
	#foot-index{
		height: 150px;
		width: 100%;
		position: absolute;
		bottom: 0;
		margin-top: 50px;
	}
}